*.class
Thumbs.db

# Package Files #
*.jar
*.war
*.ear

# Directories #
.metadata
.metadata*
.recommenders
.gradle
bin/
build/
doc/
out/

# Libraries #
/lib

# Eclipse settings (should be generated with Gradle import in Eclipse)
.project
.classpath
.settings

# IntelliJ IDEA settings (should be generated with Gradle import in Eclipse)
.idea
*.iml

