<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/converter/src/com/xenoage/zong/converter/Converter.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.xenoage.zong.converter.Converter"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="--convert ../shared/data/test/scores/musicxml20/BeetAnGeSample.xml ../shared/data/test/temp/BeetAnGeSample.mid MID"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="converter"/>
</launchConfiguration>
