.gradle
bin
build
out
dist
/doc

# Eclipse settings (should be generated with Gradle import in Eclipse)
.project
.classpath
.settings

# IntelliJ IDEA settings (should be generated with Gradle import in Eclipse)
.idea
*.iml
